{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>

<div class="navbar">
    <h1>Blockchain Portal</h1>
    <div>
        <a href="{% url 'home' %}">Home</a>
</div>

<div class="container">
    <h2>About This Project</h2>
    <p>
        This blockchain-based transaction system is developed as a major academic project.
        It focuses on secure data storage, transparency, and real-world transaction handling.
    </p>

    <p>
        Technologies Used:
        <ul>
            <li>Python & Django</li>
            <li>HTML, CSS</li>
            <li>SQLite Database</li>
        </ul>
    </p>
</div>

</body>
</html>
